fastapi==0.104.1
uvicorn==0.24.0.post1
pydantic==2.5.2
pydantic-settings==2.1.0
motor
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
bcrypt==4.0.1
scikit-learn
numpy
pandas
matplotlib
seaborn
opencv-python-headless
Pillow
albumentations
tensorflow-cpu
tf-keras-vis
pytest==7.4.3
httpx==0.25.2
dnspython
